{% extends 'base.html' %} 



{% block content %}

{% if user.is_authenticated %}

<style>
  .container {
    background-color: #5CDB95;
  }

  .card-text {
    color:#05386B;
  }
</style>


  <div class="container">
    <div class="row">
      <div class="col-md-10 card mb-4  mt-3   top">
        <div class="card-body">
          <h1 style="color: #05386B;">{% block title %} {{ post.question }} {% endblock title %}</h1>
          <p class=" text-muted">{{ post.author.username }} | {{ post.post_date }}</p>
          <p class="card-text ">{{ post.answer | safe }}</p>
        </div>
      </div>
    </div>
  </div>


<div class="col-md-12 left  top">    
    {% if user.role == 3 %}
      <a href="{% url 'edit_question' post.pk %}" class="btn btn-secondary">Edit</a> 
      <a href="{% url 'delete_question' post.pk %}" class="btn btn-danger">Delete</a> 
      {% elif user.role == 1 %}
      <a href="{% url 'delete_question' post.pk %}" class="btn btn-danger">Delete</a> 
    {% endif %}
  
</div>

<br> <br> 
  <div class="col-md-12 left  top">

    <h2 style="color: #05386B;">Comments...</h2>
    <a href="{% url 'add_comment' post.pk %}" class="btn btn-dark">Add Comment</a> 
  
  <br> 
    {% if not post.comments.all %}
      <p style="color: #05386B;"> No comments yet :( </p>
    {% else %}
      {% for comment in post.comments.all %}
        <strong style="color: #05386B;"> {{ comment.name }}  |  {{comment.date_added }} </strong>
        <br>
        <p style="color: #05386B;">{{ comment.comment }}</p>  <br> 
      {% endfor %}
    {% endif %}
  </div>
  
  <div class="col-md-12 left  top">    
    <a href="{% url 'home' %}" class="btn btn-primary">Back</a> 
  </div>

  {% else %}
    <p align = center> Please Login First  </p>

  {% endif %}

  {% endblock content %}
